@model IEnumerable<CoverType>
			@{
			    ViewData["Title"] = "Index";
			}

			<partial name="_Notifications" />

			<div class="container p-3">
			    <div class="row pt-4">
			        <div class="col-6">
			            <h2 class="text-primary">Cover Type List:</h2>
			        </div>
			        <div class="col-6">
			            <a asp-controller="CoverType" asp-action="Create" class="btn btn-primary float-end"><i class="bi bi-plus-circle-fill" style="font-size: 20px;"></i>&nbsp; Create New</a>
			        </div>
			    </div>
			    <br />
			    <table class="table table-bordered table-striped text-center" style="width:100%">
			        <thead class="bg-primary text-white">
			            <tr>
			                <th>
			                    Category Name
			                </th>
			                <th></th>
			            </tr>
			        </thead>
			        <tbody>
			            @foreach (var obj in Model)
			            {
			                <tr>
			                    <td width="50%">
			                        @obj.Name
			                    </td>
			                    <td>
			                        <div class="w-75 btn-group" role="group">
			                            <a asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id" title="Edit"><i class="bi bi-pencil-square i24 text-white bg-green-edit btn-square mx-1"></i></a>
			                            <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@obj.Id" title="Delete"><i class="bi bi-x-square i24 text-white bg-red-delete btn-square mx-1"></i></a>
			                        </div>
			                    </td>
			                </tr>
			            }
			        </tbody>
			    </table>
			</div>